@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700|Lato:400,700,300);
:root {
  font-size: 16px;
  font-size: calc( 12px + ( 21 - 12 ) * ( (100vw - 500px) / ( 1600 - 500 ) )); }
  @media screen and (max-width: 500px) {
    :root {
      font-size: 12px; } }
  @media screen and (min-width: 1600px) {
    :root {
      font-size: 21px; } }

body {
  margin: auto;
  color: #444444;
  font-family: "Roboto", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  font-size: 1rem;
  line-height: 1.5; }

p {
  margin: 0 0 1.5em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #444444;
  line-height: 1;
  margin: 0.5em 0;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

h1 {
  font-size: 3.157rem; }

h2 {
  font-size: 2.369rem; }

h3 {
  font-size: 1.777rem; }

h4 {
  font-size: 1.333rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem; }

small {
  font-size: 0.75rem; }

a {
  color: #3498DB;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #2772a4; }

hr {
  border-bottom: 2px solid #DDDDDD;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

iframe {
  max-width: 100%; }

.iframe-wrap {
  margin-bottom: 1.5em; }

blockquote {
  margin: 0.75em;
  padding-left: 1.0em;
  border-left: 0.375em solid #3498DB; }

table {
  border-collapse: collapse;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum";
  margin: .75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: .75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDDDDD;
  padding: .75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0; }

dl {
  margin-bottom: .75em; }
  dl dt {
    font-weight: bold;
    margin-top: .75em; }
  dl dd {
    margin: 0; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #b9b9b9;
  margin: 1.5em 0;
  padding: 1.0em; }

label {
  font-size: 1em;
  font-family: "Roboto", sans-serif; }
  label:hover {
    cursor: pointer; }

label,
input {
  display: block; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  font-size: 0.75em;
  font-family: inherit;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.06);
  padding: 1.0em;
  margin-bottom: 1.5em;
  width: 100%;
  -webkit-transition: border ease .3s;
  transition: border ease .3s;
  box-sizing: border-box; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border: 1px solid #3498DB; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border: 1px solid #2ECC71;
    box-shadow: 0px 0px 2px #239a55;
    outline: none; }

textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical; }

input[type=checkbox],
input[type=radio] {
  display: inline-block; }
  input[type=checkbox]:hover,
  input[type=radio]:hover {
    cursor: pointer; }

input[type=range],
input[type=color],
input[type=file] {
  cursor: pointer; }

input[type=color] {
  font-size: 1em;
  height: 2em;
  width: 100%;
  padding: 0.25em; }

select {
  font-size: 0.75em;
  line-height: 1.5; }

.ut-block-text {
  margin: 0 auto 1.5em;
  max-width: 45rem; }

.ut-left {
  float: left; }

.ut-right {
  float: right; }

.ut-text-left {
  text-align: left; }

.ut-text-right {
  text-align: right; }

.ut-text-center {
  text-align: center; }

.ut-hide {
  display: none; }

.ut-inline {
  display: inline; }

.ut-block {
  display: block; }

.ut-inline-block {
  display: inline-block; }

/**
*	Thanks to the guys who made Buttonplate for this.
*	Stripped it down to include in this project more fluently.
**/
.ut-modal-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.ut-modal-no-scroll {
  overflow: hidden; }

.ut-modal-show {
  display: block !important; }body {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/concrete_seamless.png"); }

.root-body {
  margin: auto;
  max-width: 80em;
  padding: 0.5em; }

.more {
  padding: 3em;
  text-align: center; }

.paragraph-max-width {
  max-width: 45rem; }

.ut-button {
  position: relative;
  display: inline-block;
  color: #666666;
  -moz-text-decoration: none;
  vertical-align: middle;
  border: none;
  background-color: #ddd;
  outline: none;
  -webkit-appearance: none;
  padding: 1em 2em;
  font-size: 1em;
  font-family: inherit;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .ut-button:visited {
    color: #666666; }
  .ut-button:hover {
    cursor: pointer;
    background-color: #ebebeb; }
  .ut-button:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) inset;
    text-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0;
    background-color: #ddd; }
  .ut-button:disabled {
    cursor: not-allowed;
    color: white;
    border-color: gray;
    background-color: gray; }
    .ut-button:disabled:hover {
      color: white;
      border-color: gray;
      background-color: gray; }
    .ut-button:disabled:active {
      color: white;
      border-color: gray;
      background-color: gray;
      box-shadow: none;
      text-shadow: none; }

.custom-module-header {
  text-align: center; }

.awesome-form .input-group {
  display: block;
  margin-bottom: 1.5em;
  position: relative; }
  .awesome-form .input-group input {
    display: block;
    width: 100%;
    background: none;
    border: solid 0.125em #759ed7;
    border-radius: 0;
    box-shadow: none;
    color: #5877a1;
    padding: 1em 0 0.25em;
    font-size: 1rem;
    width: 100%; }
    .awesome-form .input-group input:focus, .awesome-form .input-group input:active {
      outline: none; }
    .awesome-form .input-group input[type="text"], .awesome-form .input-group input[type="email"], .awesome-form .input-group input[type="password"] {
      border: none;
      border-bottom: solid 0.125em #759ed7; }
    .awesome-form .input-group input:invalid {
      box-shadow: none;
      border: none;
      border-bottom: solid 0.125em red !important;
      color: red;
      font-weight: bold; }
  .awesome-form .input-group label {
    position: absolute;
    top: 60%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
  .awesome-form .input-group input:focus + label,
  .awesome-form .input-group input.has-value + label {
    top: 0.25em;
    font-size: 0.75rem; }

.ut-button-awesome-form {
  border-radius: 0;
  color: #759ed7;
  background: transparent;
  border: 1px solid #759ed7;
  font-size: 0.75em;
  padding: 1em 2em;
  margin: auto;
  display: block; }
  .ut-button-awesome-form:visited {
    color: #759ed7; }
  .ut-button-awesome-form:hover {
    color: #fff;
    background-color: #83abe3;
    border: 1px solid #83abe3; }
  .ut-button-awesome-form:active {
    color: #366dba;
    background-color: #759ed7; }
  .ut-button-awesome-form i {
    padding-right: 0.25em; }

.buttons-wrap button {
  margin: 0.5em; }

.ut-button-disabled {
  color: #fff;
  background-color: #1ABC9C;
  border: 1px solid #1ABC9C;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-disabled:visited {
    color: #fff; }
  .ut-button-disabled:hover {
    background-color: #14dcb4;
    border: 1px solid #14dcb4; }
  .ut-button-disabled:active {
    color: #0f6b59;
    background-color: #1ABC9C; }

.ut-button-line-black {
  color: #383838;
  background: transparent;
  border: 1px solid #383838;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-line-black:visited {
    color: #383838; }
  .ut-button-line-black:hover {
    color: #fff;
    background-color: #454545;
    border: 1px solid #454545; }
  .ut-button-line-black:active {
    color: #0a0a0a;
    background-color: #383838; }

.ut-button-line-aqua {
  color: #1ABC9C;
  background: transparent;
  border: 1px solid #1ABC9C;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-line-aqua:visited {
    color: #1ABC9C; }
  .ut-button-line-aqua:hover {
    color: #fff;
    background-color: #14dcb4;
    border: 1px solid #14dcb4; }
  .ut-button-line-aqua:active {
    color: #0f6b59;
    background-color: #1ABC9C; }

.ut-button-line-blue {
  color: #3498DB;
  background: transparent;
  border: 1px solid #3498DB;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-line-blue:visited {
    color: #3498DB; }
  .ut-button-line-blue:hover {
    color: #fff;
    background-color: #41a5e7;
    border: 1px solid #41a5e7; }
  .ut-button-line-blue:active {
    color: #1b6698;
    background-color: #3498DB; }

.ut-button-line-green {
  color: #2ECC71;
  background: transparent;
  border: 1px solid #2ECC71;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-line-green:visited {
    color: #2ECC71; }
  .ut-button-line-green:hover {
    color: #fff;
    background-color: #36dd7d;
    border: 1px solid #36dd7d; }
  .ut-button-line-green:active {
    color: #1d8148;
    background-color: #2ECC71; }

.ut-button-line-orange {
  color: #F39C12;
  background: transparent;
  border: 1px solid #F39C12;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-line-orange:visited {
    color: #F39C12; }
  .ut-button-line-orange:hover {
    color: #fff;
    background-color: #fda821;
    border: 1px solid #fda821; }
  .ut-button-line-orange:active {
    color: #a16608;
    background-color: #F39C12; }

.ut-button-line-pink {
  color: #EB5367;
  background: transparent;
  border: 1px solid #EB5367;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-line-pink:visited {
    color: #EB5367; }
  .ut-button-line-pink:hover {
    color: #fff;
    background-color: #f46376;
    border: 1px solid #f46376; }
  .ut-button-line-pink:active {
    color: #cb182f;
    background-color: #EB5367; }

.ut-button-line-purple {
  color: #9B59B6;
  background: transparent;
  border: 1px solid #9B59B6;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-line-purple:visited {
    color: #9B59B6; }
  .ut-button-line-purple:hover {
    color: #fff;
    background-color: #b34bde;
    border: 1px solid #b34bde; }
  .ut-button-line-purple:active {
    color: #68377c;
    background-color: #9B59B6; }

.ut-button-line-red {
  color: #E74C3C;
  background: transparent;
  border: 1px solid #E74C3C;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-line-red:visited {
    color: #E74C3C; }
  .ut-button-line-red:hover {
    color: #fff;
    background-color: #f25b4b;
    border: 1px solid #f25b4b; }
  .ut-button-line-red:active {
    color: #b12416;
    background-color: #E74C3C; }

.ut-button-line-yellow {
  color: #F1C40F;
  background: transparent;
  border: 1px solid #F1C40F;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-line-yellow:visited {
    color: #F1C40F; }
  .ut-button-line-yellow:hover {
    color: #fff;
    background-color: #fccf1e;
    border: 1px solid #fccf1e; }
  .ut-button-line-yellow:active {
    color: #9b7e09;
    background-color: #F1C40F; }

.ut-button-pill-black {
  color: #fff;
  background-color: #383838;
  border: 1px solid #383838;
  border-radius: 100px;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-pill-black:visited {
    color: #fff; }
  .ut-button-pill-black:hover {
    background-color: #454545;
    border: 1px solid #454545; }
  .ut-button-pill-black:active {
    color: #0a0a0a;
    background-color: #383838; }

.ut-button-pill-aqua {
  color: #fff;
  background-color: #1ABC9C;
  border: 1px solid #1ABC9C;
  border-radius: 100px;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-pill-aqua:visited {
    color: #fff; }
  .ut-button-pill-aqua:hover {
    background-color: #14dcb4;
    border: 1px solid #14dcb4; }
  .ut-button-pill-aqua:active {
    color: #0f6b59;
    background-color: #1ABC9C; }

.ut-button-pill-blue {
  color: #fff;
  background-color: #3498DB;
  border: 1px solid #3498DB;
  border-radius: 100px;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-pill-blue:visited {
    color: #fff; }
  .ut-button-pill-blue:hover {
    background-color: #41a5e7;
    border: 1px solid #41a5e7; }
  .ut-button-pill-blue:active {
    color: #1b6698;
    background-color: #3498DB; }

.ut-button-pill-green {
  color: #fff;
  background-color: #2ECC71;
  border: 1px solid #2ECC71;
  border-radius: 100px;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-pill-green:visited {
    color: #fff; }
  .ut-button-pill-green:hover {
    background-color: #36dd7d;
    border: 1px solid #36dd7d; }
  .ut-button-pill-green:active {
    color: #1d8148;
    background-color: #2ECC71; }

.ut-button-pill-orange {
  color: #fff;
  background-color: #F39C12;
  border: 1px solid #F39C12;
  border-radius: 100px;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-pill-orange:visited {
    color: #fff; }
  .ut-button-pill-orange:hover {
    background-color: #fda821;
    border: 1px solid #fda821; }
  .ut-button-pill-orange:active {
    color: #a16608;
    background-color: #F39C12; }

.ut-button-pill-pink {
  color: #fff;
  background-color: #EB5367;
  border: 1px solid #EB5367;
  border-radius: 100px;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-pill-pink:visited {
    color: #fff; }
  .ut-button-pill-pink:hover {
    background-color: #f46376;
    border: 1px solid #f46376; }
  .ut-button-pill-pink:active {
    color: #cb182f;
    background-color: #EB5367; }

.ut-button-pill-purple {
  color: #fff;
  background-color: #9B59B6;
  border: 1px solid #9B59B6;
  border-radius: 100px;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-pill-purple:visited {
    color: #fff; }
  .ut-button-pill-purple:hover {
    background-color: #b34bde;
    border: 1px solid #b34bde; }
  .ut-button-pill-purple:active {
    color: #68377c;
    background-color: #9B59B6; }

.ut-button-pill-red {
  color: #fff;
  background-color: #E74C3C;
  border: 1px solid #E74C3C;
  border-radius: 100px;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-pill-red:visited {
    color: #fff; }
  .ut-button-pill-red:hover {
    background-color: #f25b4b;
    border: 1px solid #f25b4b; }
  .ut-button-pill-red:active {
    color: #b12416;
    background-color: #E74C3C; }

.ut-button-pill-yellow {
  color: #fff;
  background-color: #F1C40F;
  border: 1px solid #F1C40F;
  border-radius: 100px;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-pill-yellow:visited {
    color: #fff; }
  .ut-button-pill-yellow:hover {
    background-color: #fccf1e;
    border: 1px solid #fccf1e; }
  .ut-button-pill-yellow:active {
    color: #9b7e09;
    background-color: #F1C40F; }

.ut-button-flat-black {
  color: #fff;
  background-color: #383838;
  border: 1px solid #383838;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-flat-black:visited {
    color: #fff; }
  .ut-button-flat-black:hover {
    background-color: #454545;
    border: 1px solid #454545; }
  .ut-button-flat-black:active {
    color: #0a0a0a;
    background-color: #383838; }

.ut-button-flat-aqua {
  color: #fff;
  background-color: #1ABC9C;
  border: 1px solid #1ABC9C;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-flat-aqua:visited {
    color: #fff; }
  .ut-button-flat-aqua:hover {
    background-color: #14dcb4;
    border: 1px solid #14dcb4; }
  .ut-button-flat-aqua:active {
    color: #0f6b59;
    background-color: #1ABC9C; }

.ut-button-flat-blue {
  color: #fff;
  background-color: #3498DB;
  border: 1px solid #3498DB;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-flat-blue:visited {
    color: #fff; }
  .ut-button-flat-blue:hover {
    background-color: #41a5e7;
    border: 1px solid #41a5e7; }
  .ut-button-flat-blue:active {
    color: #1b6698;
    background-color: #3498DB; }

.ut-button-flat-green {
  color: #fff;
  background-color: #2ECC71;
  border: 1px solid #2ECC71;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-flat-green:visited {
    color: #fff; }
  .ut-button-flat-green:hover {
    background-color: #36dd7d;
    border: 1px solid #36dd7d; }
  .ut-button-flat-green:active {
    color: #1d8148;
    background-color: #2ECC71; }

.ut-button-flat-orange {
  color: #fff;
  background-color: #F39C12;
  border: 1px solid #F39C12;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-flat-orange:visited {
    color: #fff; }
  .ut-button-flat-orange:hover {
    background-color: #fda821;
    border: 1px solid #fda821; }
  .ut-button-flat-orange:active {
    color: #a16608;
    background-color: #F39C12; }

.ut-button-flat-pink {
  color: #fff;
  background-color: #EB5367;
  border: 1px solid #EB5367;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-flat-pink:visited {
    color: #fff; }
  .ut-button-flat-pink:hover {
    background-color: #f46376;
    border: 1px solid #f46376; }
  .ut-button-flat-pink:active {
    color: #cb182f;
    background-color: #EB5367; }

.ut-button-flat-purple {
  color: #fff;
  background-color: #9B59B6;
  border: 1px solid #9B59B6;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-flat-purple:visited {
    color: #fff; }
  .ut-button-flat-purple:hover {
    background-color: #b34bde;
    border: 1px solid #b34bde; }
  .ut-button-flat-purple:active {
    color: #68377c;
    background-color: #9B59B6; }

.ut-button-flat-red {
  color: #fff;
  background-color: #E74C3C;
  border: 1px solid #E74C3C;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-flat-red:visited {
    color: #fff; }
  .ut-button-flat-red:hover {
    background-color: #f25b4b;
    border: 1px solid #f25b4b; }
  .ut-button-flat-red:active {
    color: #b12416;
    background-color: #E74C3C; }

.ut-button-flat-yellow {
  color: #fff;
  background-color: #F1C40F;
  border: 1px solid #F1C40F;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-flat-yellow:visited {
    color: #fff; }
  .ut-button-flat-yellow:hover {
    background-color: #fccf1e;
    border: 1px solid #fccf1e; }
  .ut-button-flat-yellow:active {
    color: #9b7e09;
    background-color: #F1C40F; }

.modals-button-wrap button {
  margin: 0.5em; }

.ut-trigger-1 {
  border-radius: 0px;
  color: #fff;
  background-color: #1ABC9C;
  border: 1px solid #1ABC9C;
  font-size: 0.75em;
  padding: 1em 2em; }
  .ut-trigger-1:visited {
    color: #fff; }
  .ut-trigger-1:hover {
    background-color: #14dcb4;
    border: 1px solid #14dcb4; }
  .ut-trigger-1:active {
    color: #0f6b59;
    background-color: #1ABC9C; }
  .ut-trigger-1 i {
    padding-right: 0.25em; }

#modal-test {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100; }
  #modal-test .ut-modal-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101; }
  #modal-test .ut-modal-inner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 98%;
    max-width: 50em;
    max-height: 90%;
    overflow: auto;
    background: #1ABC9C;
    border-radius: 3px;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
            transform: translateX(-50%) translateY(-50%) translateZ(0);
    z-index: 102;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px); }
    #modal-test .ut-modal-inner .fa-times {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 102; }
      #modal-test .ut-modal-inner .fa-times:hover {
        cursor: pointer; }
    #modal-test .ut-modal-inner .ut-modal-header {
      text-align: center;
      color: white;
      margin: 0;
      padding: 0.25em 0.8em;
      background: rgba(0, 0, 0, 0.1);
      opacity: 0.8; }
    #modal-test .ut-modal-inner .ut-modal-body {
      font-size: 1.15em;
      padding: 1em 1em 0px 1em; }
    #modal-test .ut-modal-inner .ut-modal-footer {
      padding: 0px 1em 1em 1em;
      text-align: center; }
  #modal-test .ut-button-modal-close {
    border-radius: 0;
    color: #fff;
    background-color: #E74C3C;
    border: 1px solid #E74C3C;
    font-size: 0.75em;
    padding: 1em 2em; }
    #modal-test .ut-button-modal-close:visited {
      color: #fff; }
    #modal-test .ut-button-modal-close:hover {
      background-color: #f25b4b;
      border: 1px solid #f25b4b; }
    #modal-test .ut-button-modal-close:active {
      color: #b12416;
      background-color: #E74C3C; }

.ut-trigger-2 {
  border-radius: 0px;
  color: #fff;
  background-color: #F1C40F;
  border: 1px solid #F1C40F;
  font-size: 0.75em;
  padding: 1em 2em; }
  .ut-trigger-2:visited {
    color: #fff; }
  .ut-trigger-2:hover {
    background-color: #fccf1e;
    border: 1px solid #fccf1e; }
  .ut-trigger-2:active {
    color: #9b7e09;
    background-color: #F1C40F; }
  .ut-trigger-2 i {
    padding-right: 0.25em; }

#modal-test2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100; }
  #modal-test2 .ut-modal-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101; }
  #modal-test2 .ut-modal-inner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 98%;
    max-width: 50em;
    max-height: 90%;
    overflow: auto;
    background: #F1C40F;
    border-radius: 3px;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
            transform: translateX(-50%) translateY(-50%) translateZ(0);
    z-index: 102;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px); }
    #modal-test2 .ut-modal-inner .fa-times {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 102; }
      #modal-test2 .ut-modal-inner .fa-times:hover {
        cursor: pointer; }
    #modal-test2 .ut-modal-inner .ut-modal-header {
      text-align: center;
      color: white;
      margin: 0;
      padding: 0.25em 0.8em;
      background: rgba(0, 0, 0, 0.1);
      opacity: 0.8; }
    #modal-test2 .ut-modal-inner .ut-modal-body {
      font-size: 1.15em;
      padding: 1em 1em 0px 1em; }
    #modal-test2 .ut-modal-inner .ut-modal-footer {
      padding: 0px 1em 1em 1em;
      text-align: center; }
  #modal-test2 .ut-modal-body {
    text-align: center; }
  #modal-test2 .ut-button-modal-close {
    border-radius: 100px;
    color: #fff;
    background-color: #E74C3C;
    border: 1px solid #E74C3C;
    font-size: 0.75em;
    padding: 1em 2em; }
    #modal-test2 .ut-button-modal-close:visited {
      color: #fff; }
    #modal-test2 .ut-button-modal-close:hover {
      background-color: #f25b4b;
      border: 1px solid #f25b4b; }
    #modal-test2 .ut-button-modal-close:active {
      color: #b12416;
      background-color: #E74C3C; }

.flash-messages-reload-wrap {
  text-align: center; }

.ut-button-reload-flash {
  margin: 1em;
  color: #2ECC71;
  background: transparent;
  border: 1px solid #2ECC71;
  border-radius: 0;
  font-size: 1em;
  padding: 1em 2em; }
  .ut-button-reload-flash:visited {
    color: #2ECC71; }
  .ut-button-reload-flash:hover {
    color: #fff;
    background-color: #36dd7d;
    border: 1px solid #36dd7d; }
  .ut-button-reload-flash:active {
    color: #1d8148;
    background-color: #2ECC71; }
  .ut-button-reload-flash i {
    margin-right: 0.5em; }

.flash-hide-box {
  background-color: #759ed7;
  color: #11233c;
  display: block;
  box-shadow: 0px 0px 5px #467dc9;
  border: 1px solid #6d98d5;
  margin-bottom: 1em;
  padding: .25em;
  text-align: center;
  border-radius: 2px; }
  .flash-hide-box:hover {
    cursor: pointer;
    background-color: #79a1d8;
    box-shadow: 0px 0px 5px #5185cd;
    border: 1px solid #719bd6;
    color: #172f4f; }
  .flash-hide-box p {
    margin-bottom: 0; }
    .flash-hide-box p:first-of-type {
      display: inline-block; }
  .flash-hide-box a {
    color: black;
    text-decoration: underline; }
    .flash-hide-box a:focus, .flash-hide-box a:hover {
      color: black; }

.flash-hide-alert {
  background-color: #fff6bf;
  color: #bfa400;
  display: block;
  box-shadow: 0px 0px 5px #ffed82;
  border: 1px solid #fff5b5;
  margin-bottom: 1em;
  padding: .25em;
  text-align: center;
  border-radius: 2px; }
  .flash-hide-alert:hover {
    cursor: pointer;
    background-color: #fff7c4;
    box-shadow: 0px 0px 5px #fff091;
    border: 1px solid #fff5ba;
    color: #d9ba00; }
  .flash-hide-alert p {
    margin-bottom: 0; }
    .flash-hide-alert p:first-of-type {
      display: inline-block; }
  .flash-hide-alert a {
    color: #594c00;
    text-decoration: underline; }
    .flash-hide-alert a:focus, .flash-hide-alert a:hover {
      color: black; }

.flash-hide-error {
  background-color: #fbe3e4;
  color: #c31c23;
  display: block;
  box-shadow: 0px 0px 5px #f3adb0;
  border: 1px solid #fadadb;
  margin-bottom: 1em;
  padding: .25em;
  text-align: center;
  border-radius: 2px; }
  .flash-hide-error:hover {
    cursor: pointer;
    background-color: #fce7e8;
    box-shadow: 0px 0px 5px #f5bbbd;
    border: 1px solid #fadfe0;
    color: #d91f27; }
  .flash-hide-error p {
    margin-bottom: 0; }
    .flash-hide-error p:first-of-type {
      display: inline-block; }
  .flash-hide-error a {
    color: #6a0f13;
    text-decoration: underline; }
    .flash-hide-error a:focus, .flash-hide-error a:hover {
      color: #110203; }

.flash-hide-info {
  background-color: #e5edf8;
  color: #2f65af;
  display: block;
  box-shadow: 0px 0px 5px #b5cceb;
  border: 1px solid #dde7f6;
  margin-bottom: 1em;
  padding: .25em;
  text-align: center;
  border-radius: 2px; }
  .flash-hide-info:hover {
    cursor: pointer;
    background-color: #e9f0f9;
    box-shadow: 0px 0px 5px #c1d4ee;
    border: 1px solid #e1eaf7;
    color: #3571c3; }
  .flash-hide-info p {
    margin-bottom: 0; }
    .flash-hide-info p:first-of-type {
      display: inline-block; }
  .flash-hide-info a {
    color: #19375f;
    text-decoration: underline; }
    .flash-hide-info a:focus, .flash-hide-info a:hover {
      color: #04080e; }

.flash-hide-success {
  background-color: #e6efc2;
  color: #788d25;
  display: block;
  box-shadow: 0px 0px 5px #d2e292;
  border: 1px solid #e3edba;
  margin-bottom: 1em;
  padding: .25em;
  text-align: center;
  border-radius: 2px; }
  .flash-hide-success:hover {
    cursor: pointer;
    background-color: #e8f0c6;
    box-shadow: 0px 0px 5px #d7e59e;
    border: 1px solid #e4eebe;
    color: #89a12a; }
  .flash-hide-success p {
    margin-bottom: 0; }
    .flash-hide-success p:first-of-type {
      display: inline-block; }
  .flash-hide-success a {
    color: #333c10;
    text-decoration: underline; }
    .flash-hide-success a:focus, .flash-hide-success a:hover {
      color: black; }

.lost-container {
  *zoom: 1;
  background: #5faee3;
  color: white; }

.lost-container:before{
  content: '';
  display: table; }

.lost-container:after{
  content: '';
  display: table;
  clear: both; }
  .lost-container h1, .lost-container h2, .lost-container h3, .lost-container h4, .lost-container h5, .lost-container h6 {
    text-align: center;
    margin-top: 0;
    color: white; }

.row-1 {
  *zoom: 1;
  padding: 0.5em;
  padding-bottom: 0;
  margin-bottom: 1.5em;
  background: #3498DB; }

.row-1:before{
  content: '';
  display: table; }

.row-1:after{
  content: '';
  display: table;
  clear: both; }
  .row-1 div {
    width: calc(99.99% * 1/4 - (0.5em - 0.5em * 1/4));
    background: #1d6fa5;
    height: 5em;
    position: relative;
    margin-bottom: 1.5em; }
  .row-1 div:nth-child(1n){
  float: left;
  margin-right: 0.5em;
  clear: none; }
  .row-1 div:last-child{
  margin-right: 0; }
  .row-1 div:nth-child(0n){
  margin-right: 0;
  float: right; }
  .row-1 div:nth-child(0n + 1){
  clear: left; }
  .row-1 div > *{
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    @media (max-width: 800px) {
      .row-1 div {
        width: calc(99.99% * 4/4 - (0.5em - 0.5em * 4/4)); }
      .row-1 div:nth-child(1n){
    float: left;
    margin-right: 0.5em;
    clear: none; }
      .row-1 div:last-child{
    margin-right: 0; }
      .row-1 div:nth-child(0n){
    margin-right: 0;
    float: right; }
      .row-1 div:nth-child(0n + 1){
    clear: left; } }

.row-2 {
  *zoom: 1;
  padding: 0.5em;
  padding-bottom: 0;
  margin-bottom: 1.5em;
  background: #3498DB; }

.row-2:before{
  content: '';
  display: table; }

.row-2:after{
  content: '';
  display: table;
  clear: both; }
  .row-2 div {
    width: calc(99.99% * 1/3 - (0.5em - 0.5em * 1/3));
    background: #1d6fa5;
    height: 5em;
    position: relative;
    margin-bottom: 1.5em; }
  .row-2 div:nth-child(1n){
  float: left;
  margin-right: 0.5em;
  clear: none; }
  .row-2 div:last-child{
  margin-right: 0; }
  .row-2 div:nth-child(0n){
  margin-right: 0;
  float: right; }
  .row-2 div:nth-child(0n + 1){
  clear: left; }
  .row-2 div > *{
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    @media (max-width: 800px) {
      .row-2 div {
        width: calc(99.99% * 4/4 - (0.5em - 0.5em * 4/4)); }
      .row-2 div:nth-child(1n){
    float: left;
    margin-right: 0.5em;
    clear: none; }
      .row-2 div:last-child{
    margin-right: 0; }
      .row-2 div:nth-child(0n){
    margin-right: 0;
    float: right; }
      .row-2 div:nth-child(0n + 1){
    clear: left; } }

.row-3 {
  *zoom: 1;
  padding: 0.5em;
  padding-bottom: 0;
  margin-bottom: 1.5em;
  background: #3498DB; }

.row-3:before{
  content: '';
  display: table; }

.row-3:after{
  content: '';
  display: table;
  clear: both; }
  .row-3 div {
    width: calc(99.99% * 2/3 - (0.5em - 0.5em * 2/3));
    background: #1d6fa5;
    height: 5em;
    position: relative;
    margin-bottom: 1.5em; }
  .row-3 div:nth-child(1n){
  float: left;
  margin-right: 0.5em;
  clear: none; }
  .row-3 div:last-child{
  margin-right: 0; }
  .row-3 div:nth-child(0n){
  margin-right: 0;
  float: right; }
  .row-3 div:nth-child(0n + 1){
  clear: left; }
  .row-3 div > *{
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    @media (max-width: 800px) {
      .row-3 div {
        width: calc(99.99% * 4/4 - (0.5em - 0.5em * 4/4)); }
      .row-3 div:nth-child(1n){
    float: left;
    margin-right: 0.5em;
    clear: none; }
      .row-3 div:last-child{
    margin-right: 0; }
      .row-3 div:nth-child(0n){
    margin-right: 0;
    float: right; }
      .row-3 div:nth-child(0n + 1){
    clear: left; } }
  .row-3 div:last-child {
    width: calc(99.99% * 1/3 - (0.5em - 0.5em * 1/3)); }
  .row-3 div:last-child:nth-child(1n){
  float: left;
  margin-right: 0.5em;
  clear: none; }
  .row-3 div:last-child:last-child{
  margin-right: 0; }
  .row-3 div:last-child:nth-child(3n){
  margin-right: 0;
  float: right; }
  .row-3 div:last-child:nth-child(3n + 1){
  clear: left; }
    @media (max-width: 800px) {
      .row-3 div:last-child {
        width: calc(99.99% * 4/4 - (0.5em - 0.5em * 4/4)); }
      .row-3 div:last-child:nth-child(1n){
    float: left;
    margin-right: 0.5em;
    clear: none; }
      .row-3 div:last-child:last-child{
    margin-right: 0; }
      .row-3 div:last-child:nth-child(0n){
    margin-right: 0;
    float: right; }
      .row-3 div:last-child:nth-child(0n + 1){
    clear: left; } }

.row-4 {
  *zoom: 1;
  padding: 0.5em;
  padding-bottom: 0;
  margin-bottom: 1.5em;
  background: #3498DB; }

.row-4:before{
  content: '';
  display: table; }

.row-4:after{
  content: '';
  display: table;
  clear: both; }
  .row-4 div {
    width: calc(99.99% * 1/4 - (0.5em - 0.5em * 1/4));
    background: #1d6fa5;
    height: 5em;
    position: relative;
    margin-bottom: 1.5em; }
  .row-4 div:nth-child(1n){
  float: left;
  margin-right: 0.5em;
  clear: none; }
  .row-4 div:last-child{
  margin-right: 0; }
  .row-4 div:nth-child(0n){
  margin-right: 0;
  float: right; }
  .row-4 div:nth-child(0n + 1){
  clear: left; }
  .row-4 div > *{
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    @media (max-width: 800px) {
      .row-4 div {
        width: calc(99.99% * 4/4 - (0.5em - 0.5em * 4/4)); }
      .row-4 div:nth-child(1n){
    float: left;
    margin-right: 0.5em;
    clear: none; }
      .row-4 div:last-child{
    margin-right: 0; }
      .row-4 div:nth-child(0n){
    margin-right: 0;
    float: right; }
      .row-4 div:nth-child(0n + 1){
    clear: left; } }
  .row-4 div:last-child {
    width: calc(99.99% * 3/4 - (0.5em - 0.5em * 3/4)); }
  .row-4 div:last-child:nth-child(1n){
  float: left;
  margin-right: 0.5em;
  clear: none; }
  .row-4 div:last-child:last-child{
  margin-right: 0; }
  .row-4 div:last-child:nth-child(0n){
  margin-right: 0;
  float: right; }
  .row-4 div:last-child:nth-child(0n + 1){
  clear: left; }
    @media (max-width: 800px) {
      .row-4 div:last-child {
        width: calc(99.99% * 4/4 - (0.5em - 0.5em * 4/4)); }
      .row-4 div:last-child:nth-child(1n){
    float: left;
    margin-right: 0.5em;
    clear: none; }
      .row-4 div:last-child:last-child{
    margin-right: 0; }
      .row-4 div:last-child:nth-child(0n){
    margin-right: 0;
    float: right; }
      .row-4 div:last-child:nth-child(0n + 1){
    clear: left; } }

.row-5 {
  *zoom: 1;
  padding: 0.5em;
  padding-bottom: 0;
  margin-bottom: 1.5em;
  background: #3498DB; }

.row-5:before{
  content: '';
  display: table; }

.row-5:after{
  content: '';
  display: table;
  clear: both; }
  .row-5 div {
    width: calc(99.99% * 1/2 - (0.5em - 0.5em * 1/2));
    background: #1d6fa5;
    height: 5em;
    position: relative;
    margin-bottom: 1.5em; }
  .row-5 div:nth-child(1n){
  float: left;
  margin-right: 0.5em;
  clear: none; }
  .row-5 div:last-child{
  margin-right: 0; }
  .row-5 div:nth-child(0n){
  margin-right: 0;
  float: right; }
  .row-5 div:nth-child(0n + 1){
  clear: left; }
  .row-5 div > *{
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    @media (max-width: 800px) {
      .row-5 div {
        width: calc(99.99% * 4/4 - (0.5em - 0.5em * 4/4)); }
      .row-5 div:nth-child(1n){
    float: left;
    margin-right: 0.5em;
    clear: none; }
      .row-5 div:last-child{
    margin-right: 0; }
      .row-5 div:nth-child(0n){
    margin-right: 0;
    float: right; }
      .row-5 div:nth-child(0n + 1){
    clear: left; } }
